.seller-header {
  background-color: #273b51;
  color: #ffffff; 
}

.seller-header .btn-dark {
  background-color: rgba(255, 255, 255, 0.1); 
  color: #ffffff; 
  border: none; 
}

.seller-header .btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}
