.home-page {
  background-color: #c6d3f5;
}

.my-4 {
  background-color: #c6d3f5;
}

.bestsellers-section {
  background-color: #c6d3f5; 
}

.bestsellers-section h2 {
  color: #343a40; 
}

.categories-section {
  background-color: #c6d3f5;
}

.categories-section h2 {
  color: #343a40; 
}
